root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
dotnet_diagnostic.IDE0008.severity = none       # use explicit type instead of var
dotnet_diagnostic.IDE0011.severity = none       # add braces to 'if' statement
dotnet_diagnostic.IDE0005.severity = suggestion # using directive is unnecessary
dotnet_diagnostic.IDE0049.severity = suggestion # name can be simplified
dotnet_diagnostic.IDE0055.severity = suggestion # fix formatting
dotnet_diagnostic.IDE0130.severity = error      # namespace match directory structure
dotnet_diagnostic.CA1062.severity = error       # null check
dotnet_diagnostic.CA1303.severity = none        # literal string, introduce a resource table
dotnet_diagnostic.CA1707.severity = none        # _ in method name (common in unit tests)
# dotnet_diagnostic.CA1062.severity = error       # check for null
dotnet_analyzer_diagnostic.severity = warning

[*.AssemblyInfo.cs]
generated_code = true
